{% extends "layout.html" %} {% load staticfiles %}
{% block loadstyles %}
<link
	href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}"
	rel="stylesheet">
<link
	href="{% static 'bower_components/datatables-responsive/css/dataTables.responsive.css' %}"
	rel="stylesheet">
<link rel="stylesheet" href="{% static 'bower_components/jquery/jquery-ui.css' %}">
{% endblock %}
{% block loadscripts %}
<script
	src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script
	src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>	
	  
  <script src="{% static 'bower_components/jquery/jquery-ui.js' %}"></script>
  <script src="{% static 'bower_components/jquery/datepicker-zh-TW.js' %}"></script>
{% endblock %}
	
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">修理厂材料统计表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">库存记录 
			 <span style="float: right"><span>总价:<span id="total_price"></span></span>&nbsp;&nbsp;
			 领取人<select id="consumer"><option value=""></option>{% for p in persons %}
			   <option value="{{p.id}}">
			       {{p.name}}
			   </option>
			{% endfor %}</select>
			负责人<select id="owner"><option value=""></option>
			{% for p in owners %}
			   <option value="{{p.id}}">
			       {{p.name}}
			   </option>
			{% endfor %}
			</select>
			 日期查找<input id="start" type="text"/>-<input type="text" id="end"/>&nbsp;&nbsp;<input type="button" id="searchBtn" onclick="reload()" value="搜索"/></span></div>
			
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="parts_table">
						<thead>
							<tr>
								<th>零件名称及规格</th>
								<th>数量</th>
								<th>单位</th>
								<th>单价(元)</th>
								<th>总价(元)</th>
								<th>领取人</th>
								<th>日期</th>
								<th>备注</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
{% endblock %}
{% block script %}
	<script>
	$(document).ready(function() {
		table = $('#parts_table').DataTable({
	        "serverSide": true,
	        "ajax": "/parts/loadAll",
	        "responsive":"true",
	        "searching": false,
	        "paging":false,
	        "initComplete":function(settings,json){
	        	updatePrice(json.totalPrice);
	        }
        });
		region = $.datepicker.regional["zh-TW"];
		$("#start").datepicker(region);
		$("#end").datepicker(region);
	});
	function updatePrice(price){
		$('#total_price').text(price);
	}
	function reload(){
		var params = [];
		if($("#start").val()){
			params.push('startDate='+$("#start").val());
		}
		var end = '';
		if($("#end").val()){
			params.push('endDate='+$("#end").val());
		}
		if($("#owner").val()){
			params.push('owner='+$("#owner").val());
		}
		if($("#consumer").val()){
			params.push('consumer='+$("#consumer").val());
		}
		var url = "/parts/search?"+params.join('&');
		table.ajax.url(url).load(function(json){updatePrice(json.totalPrice);});
	}
	</script>
{% endblock %}